.picture-image {
	width: 15%;
	border-radius: 60px;
}


/******************************************
* Global Styles
*******************************************/

body {
	background: url("../images/mountains1.5.JPG") no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	color: #ffce1d;
}

.jumbotron {
	background: transparent;
}


h1, .h1 {
	font-family: 'Abril Fatface', "Times New Roman", Times, Serif;
}

h2, .h2 {
	font-family: 'Abril Fatface', "Times New Roman", Times, Serif;
	letter-spacing: 1px;
	margin-bottom: 2.5rem;
	color: #fff031;
	font-style: italic;
	text-shadow: 1px 1px 0 #000;
	font-size: 4rem;
}
/******************************************
* Header & Navbar Styles
*******************************************/
header {
	background-color: transparent;
	padding-top: 3rem;
	padding-bottom: .75rem;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

a {
	color: #5dfcff;
	text-decoration: none;
	font-size: 2rem;
}

/******************************************
* Content Styles
******************************************/
main {
	padding: 6rem 0;
}

.well {
	background: rgba(0, 0, 0, 0.23);
	color: white;
	border: none;
	/*
border: solid #0af7f
	*/
	font-size: 1.80rem;
}
/******************************************
* Footer Styles
*******************************************/
footer {
	color: #ddfffa;
	padding: .75rem 0;
	background: black;
}

.sfooter-content {
	background: rgba(0,0,0,0.3);
	padding-bottom: 8rem;
}



